extend ../../../views/layout

block header_adds
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/public/contact/livechat.js")
  link(rel='stylesheet', href='/public/contact/livechat.css')

block menu

block content
  .row(ng-controller='LiveChatCtrl')
    
    #chat.small-9.columns
      div(ng-repeat='message in messages', class="{{message.type}}")
        .info
          .name {{message.from}}
          .date {{message.date | date:'dd/MM/yy hh:mm:ss'}}
        .content
          | {{message.content}}

    #userlist.small-3.columns
      div(ng-repeat='user in users', class="{{user.role}}")
        {{user.login}}

    #user.small-12.columns
      form(ng-submit="sendMessage()")
        .row.collapse
          .small-2.columns
            span.prefix {{login}}

          .small-10.columns
            input(type="text", name="message", ng-model="message", placeholder="Type your message here...")


