mixin link(options)
  a(href=options.href, title=(options.title || options.name))= options.name

mixin showMenu(menu)
  if menu.data.length
    each menuitem in menu.data
      if menuitem.data
        li.has-dropdown(id=menu.id)
          +link(menu.title)
          ul.dropdown
            +showMenu(menuitem)
      else
        li
          +link(menuitem)
  else
    li
      +link(menu.title)

nav.top-bar
  ul.title-area
    li.name 
      h1 
        a(href="/") Lazycook
    li.toggle-topbar.menu-icon 
      a 
        span Menu

  section.top-bar-section
    block menu
      ul.right
        block left

        block middle
          li.divider
          - each menu in dynamicMenu
            +showMenu( menu )

        block right