mixin link(options)
  a(href=options.href, title=(options.title || options.name))= options.name

mixin showMenu(menu)
  li(id=menu.id, class=(menu.data.length ? 'has-dropdown' : (menu.html ? 'has-form' : '')))
    if menu.html
      !=menu.html
    else
      +link(menu.title)

      if menu.data.length
        ul.dropdown
          each menuitem in menu.data
            if menuitem.data
              +showMenu(menuitem)
            else
              li
                +link(menuitem)

nav.top-bar
  ul.title-area
    li.name 
      h1 
        a(href="/") Lazycook
    li.toggle-topbar.menu-icon 
      a 
        span Menu

  block menu
    section.top-bar-section
      ul.right
        li.divider
        - each menu in dynamicMenu
          +showMenu( menu )
