extend layout
block main
  .row
    .large-12.columns
      h2 Welcome to Lazycook
      hr


  script(type='text/javascript', src='js/controllers.js')
  .row(ng-controller="RecipeListCtrl")
    .large-8.columns
      p Total number of recipes {{ recipes.length }}
      ul.recipes
        li( ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" )
          {{recipe.name}}
          p {{recipe.excerpt}}

    .large-4.columns
      form
        input(type="text", placeholder="Search...", ng-model="query")
