extend layout.base

block content
	block topbar
		nav.top-bar
			ul.title-area
				li.name 
					h1 
						a(href="/") Lazycook
				li.toggle-topbar.menu-icon 
					a 
						span Menu

			section.top-bar-section
				block menu
					ul.right
						li.divider
						li 
							a(href="#Menu") Menu
							
						li.divider
						li.has-form 
							a(href="/login", class="button") Login

	block main
