extend layout.base

block bodyContent

  block menu
    - if (dynamicMenu)
      include dynamicMenu

  - var messages = flash('messages')
  - if (messages && messages.length)
    .row
      .large-8.large-offset-2.columns
        - each message in messages
          .alert-box.radius.alert 
            = message

  block content

