div#chat {
  height: 350px;
  overflow-y: auto;
}
div#chat >div {
  width: 75%;
  padding: 4px;
  margin: 1em;
}
div#chat >div .info {
  position: relative;
  font-weight: bold;
  color: #555;
  height: 1.5em;
}
div#chat >div .info .name {
  float: left;
}
div#chat >div .info .date {
  float: right;
}
div#chat .content {
  clear: both;
}
div#chat .remote,
div#chat .system {
  margin-right: auto;
}
div#chat .system {
  background: #eee;
}
div#chat .remote {
  background: #bbc894;
}
div#chat .local {
  margin-left: auto;
  background: #96b2ca;
}
