

div#chat
  height 350px
  overflow-y auto

  >div
    width 80%
    padding 4px
    margin 0 0 1em 0

    .info
      position relative
      font-weight bold
      color #555
      height 1.5em

      .name
        float left
      .date
        float right

  .content
    clear both

  .remote, .system
    margin-right auto

  .system
    background #eee

  .remote
    background #bbc894

  .local
    margin-left auto
    background #96B2ca

div#userlist
  border-left 1px dotted
  height 350px
  overflow-y auto

  >div
    margin 0 0 5px 0
    padding 5px 1em

  .admin
    font-weight bold
    background red
    color yellow

  .user
    background #ddd
